/*
	5. about
*/


.about{
    &__area{
        &-1{
            position: relative;
            padding-bottom: 100px;
        }
    }
    &__thumb{
        position: relative;
    }
    &__main{
        padding-left: 100px;
    }
    &__right{
        padding-left: 20px;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 18px;
        color: var(--primary);
        display: inline-block;
        margin-bottom: 10px;
    }
    &__title{
        font-weight: 500;
        font-size: 48px;
        color: var(--black-2);
    }
    &__dis{
        font-weight: 400;
        font-size: 18px;
        color: var(--gray-2);
        padding-top: 10px;
    }
    &__wrapperinfo{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        max-width: 470px;
    }
    &__info{
        li{
            margin-bottom: 15px;
         span{
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: var(--black-1);
            display: block;
         }
         .name{
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            padding-top: 5px;
            display: inline-block;
         }   
        }
    }
}
.about__img2{
    position: absolute;
    bottom: -179px;
    left: 0;
    border-radius: 20px;
}
.about__img3 {
    position: absolute;
    top: -26px;
    right: -31px;
}
.about__img4 {
    position: absolute;
    bottom: -21px;
    right: 25%;
}
.about__img5 {
    position: absolute;
    left: 58px;
    top: 140px;
}

