


// ESSENTIAL COLORS 
:root{
    --primary: #FF451B;
    --secondary: #FFB324;
    --white: #fff;
    --black-1: #262525;
    --black-2: #000000;
    --black-3: #0F172A;
    --black-4:#0F172A;
    --navy-1: #F1FAFF;
    --gray-1: #CACDD3;
    --gray-2:#888888;
    --gray-3:#354357;
}


// Font Family 

$heroFont : 'Barlow', sans-serif;
$headingFont : 'Roboto', sans-serif;
$bodyFont : 'Open Sans', sans-serif;

